# Copyright © 2026 Christopher Snow
# What notebook/jupyterlite/build.sh needs: JupyterLite and its Pyodide kernel; the widgets' front
# end, which the build copies into the site; jupyter-server, which the build uses to add the
# notebook; and what runs the notebook once in CPython as a check.
jupyterlite-core==0.8.6
jupyterlite-pyodide-kernel==0.8.6
jupyterlab-widgets==3.0.17
ipywidgets==8.1.9
comm==0.2.3
jupyter-server==2.21.1
nbclient==0.11.0
ipykernel==7.4.0
nbformat==5.11.1
